.blog {
    font-size: 39vh;
    color: rgb(93, 163, 248);
  }
  
  

  @media (max-width: 1200px) {
    .blog {
      font-size: 15vw;
    }
  }
  

  @media (max-width: 768px) {
    .blog {
      font-size: 10vw;
    }
  }
  